<div class="page-header">
  <h1>Home</h1>
</div>
<ul>
<li><a href="/categories">Categories</a></li>
<li><a href="/products">Products</a></li>
<li><a href="/sales">Sales</a></li>
<li><a href="/purchases">Purchases 4</a></li>
<li><a href="/summary">Summary</a></li>
</ul>
