<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <script src="/js/bower_components/jquery/dist/jquery.min.js"></script>


</head>

<body>
  <div class="container">

    <ul class="nav nav-pills">

      <li role="presentation" class="active"><a href="/">Home</a></li>
      <li role="presentation"><a href="http://nelisa.projectcodex.co/index.html">About us</a></li>

      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Reports <span class="caret"></span>
    </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="/sales/week1">Week 1</a></li>
          <li><a href="/sales/week2">Week 2</a></li>
          <li><a href="/sales/week3">Week 3</a></li>
          <li><a href="/sales/week4">Week 4</a></li>

          <li role="separator" class="divider"></li>
          <li><a href="/sales/month">Month</a></li>
        </ul>

      </li>

    </ul>

    <div class="jumbotron">
      <div style="display: inline-flex">
        <img src="/img/nelisa.jpeg" class="img-thumbnail" style="margin-left: 40px" alt="Cinque Terre" width="80px" height="60px">
        <h1>Nelisa's Weekly Sales Report </h1 >
      </div>
    </div>




      {{{body}}}


</div>

</body>
<script src="/js/bootstrap.min.js"></script>
</html>
